[Desktop Entry]
Type=Application
Name=jvgs
GenericName=Platform Game
Comment=Minimalistic platform game
Exec=jvgs
Icon=jvgs
Categories=Game;ArcadeGame;
